.hcs-description-check span.umb-tree-icon{
    position:relative;
}

.hcs-description-check span.umb-tree-icon:after{
    display: inline-block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    position:absolute;
    top: -2px;
    right:-8px;
    font-size: 0.7rem;
}

.hcs-description-check.__missing span.umb-tree-icon:after {
    content: '⚠️' !important;
}

.hcs-description-check.__found span.umb-tree-icon:after {
    content: '✅' !important;
}
